{% extends "layout.html" %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Validation Test</h1>

      <p class="govuk-body">
        This is a page to test validation.
      </p>

      {% include "include/error-list.html" %}

      <form method="post">

        {{ govukInput({
          errorMessage: errors.first_name if errors,
          label: {
            text: "First Name",
            classes: "govuk-label--m"
          },
          classes: "govuk-input--width-10",
          id: "first_name",
          name: "first_name",
          value: first_name
        }) }}

        {{ govukTextarea({
          errorMessage: errors.description if errors,
          value: description,
          name: "description",
          id: "description",
          label: {
            text: "Description (optional)",
            classes: "govuk-label--m",
            isPageHeading: true
          },
          hint: {
            text: "Include a description of what needs to be done."
          }
        }) }}

      </form>
    </div>
  </div>
{% endblock %}